* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav img {
  margin: 0;
  padding: 0;
}

/*
* Targeting the list in the navigation bar
*/
footer li {
  list-style: none;
  /* removes bullets in the lists*/

}

/*
  * Targeting the links in the navigation bar list
  */
footer li a {
  text-decoration: none;
  /* removes underlines on links*/
  color: white;
}

footer li a:hover {
  color: white;
  text-decoration: underline;

}

span {
  color: grey;
}

.card-footer button {
  margin-left: 150px;
}

#register {
  color: white;
  text-decoration: none;
}

#poster {
  margin: 20px;
}

#poster img {
  width: 500px;
  margin: 20px;
}

#Download a {
  color: white;
  text-decoration: none;
}


#Download a:hover {
  color: white;
  text-decoration: none;

}

#instructions,
ul {
  list-style: disc;
}

#price {
  color: black;
  font-size: 17px;
}

#eventdate {
  font-size: 17px;
}

#map-box {
  margin-left: 150px;
}

#bank-details {
  list-style: none;
  
}

@media (max-width:799px) {
  #map-box {
    margin-left: 50px;
  }
}

@media (max-width:477px) {

  h4{
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  #copyrights {
    font-size: 12px;
  }

  #footer-list {
    font-size: 13px;
    margin-left: -5px;
  }

  #map-box {
    margin-top: 15px;
    margin-left: 0;
  }


}
